body {
  background-color: #24314C;
  color: whitesmoke;
}

a {
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
}

.img-wrapper {
  max-width: 100px;
}
.img-wrapper img {
  width: 100%;
  height: auto;
}

.navigation-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.folder-div,
.file-div {
  border: 1px solid whitesmoke;
  margin: 0.2rem;
  border-radius: 1rem;
  padding: 0.3rem;
  position: relative;
}

.folder-div:hover,
.file-div:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}
.folder-icon {
  margin-right: 0.5rem;
}

.home-icon,
.back-arrow {
  margin: 0.5rem;
  font-size: 1.5rem;
}
.home-icon:hover,
.back-arrow:hover,
.ellipsis-actions {
  cursor: pointer;
}




